body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding: 2rem;
}
label, h1 {
  margin-bottom: 0.5rem;
  display: block;
}
input {
  padding: 0.5rem;
  font-size: 1rem;
}
button {
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}
